<template name="parallax1">
    <section class="parallax" id="parallax1">
        <div id="parallax1-background"></div>
        <div id="parallax1-text" class="clearfix">
            <h2>Confirma tu asistencia</h2>
            <p>o tu ausencia</p>
            <div class="heartline">
                <hr>
                <i class="fa fa-heart"></i>
            </div>
            <a href="{{pathFor 'rsvp'}}">
                <button class="btn btn-default btn-block">
                    Confirmar
                </button>
            </a>
        </div>
    </section>
</template>
