<template name="banner">
    <section id="banner">
        <div id="overlay"></div>
        <div id="banner-text" class="clearfix">
            <img id="banner-logo" src="images/logo-600x122.png" title="Manuel y Andrea" alt="logo-manuel-andrea" />
            <h2>Te invitamos</h2>
            <h4>A celebrar nuestra boda</h4>
            <div class="heartline">
                <hr>
                <i class="fa fa-heart"></i>
            </div>
            <h4>7 de noviembre del 2015</h4>
        </div>
        <p class="downArrow"><a href="#the-couple"><i class="fa fa-chevron-down"></i></a></p>
    </section>
</template>
