<template name="importantPeople">
    <section id="important-people">
        <div class="container">
            <div class="row header" id="the-couple-header">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h1>Las familias</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>En la vida familiar, el amor es el aceite que alivia la fricción, el cemento que une, y la música que trae armonía<footer>Eva Burrows</footer></blockquote></p>
                </div>
            </div>
            <div class="row bride">
                <ul class="clearfix">
                    <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4 pinkCircle">
                        <div class="nameCircle"> <em><span class="smallTxt">de la</span><br/>Novia</em> </div>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 circle"> <img alt="" src="/images/pictures/faces/rafael.jpg" class="smallRound">
                        <h4>Rafael Funes<span>Papá</span></h4>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 circle"> <img alt="" src="/images/pictures/faces/laura.jpg" class="smallRound">
                        <h4>Laura Minutti<span>Mamá</span></h4>
                    </li>
                </ul>
            </div>
            <div class="row groom">
                <ul class="clearfix">
                    <li class="col-xs-12 col-sm-12 col-md-4 col-lg-4 blueCircle">
                        <div class="nameCircle"> <em><span class="smallTxt">del</span><br/>Novio</em> </div>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 circle"> <img alt="" src=/images/pictures/faces/manolo.jpg class="smallRound">
                        <h4>Manuel Valencia<span>Papá</span></h4>
                    </li>
                    <li class="col-xs-12 col-sm-6 col-md-4 col-lg-4 circle"> <img alt="" src="/images/pictures/faces/lidia.jpg" class="smallRound">
                        <h4>Lidia Villaseñor<span>Mamá</span></h4>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</template>