section#schedule {

  #schedule-header {

  }

  #schedule-events {
    .event {
      margin-bottom: 15px;

      div.schedule-image {

        img {
          width: 100%;
        }
      }
      .description {
        border: solid 1px #cccccc;
        padding: 15px 30px;

        h4 span {
          display: block !important;
          font-size: 12px;
          color: #777;
          text-transform: none;
          font-weight: normal;
        }
      }
    }
  }
}

