section#schedule {

  #schedule-header {

  }

  #schedule-events {
    .event {
      margin-bottom: 15px;
      img {
        width: 100%;
      }
      .description {
        border: solid 1px #cccccc;
        padding: 15px 30px;
        h4 span {
          font-size: 15px !important;
          display: block !important;
          font-size: 15px;
          color: #605154;
          text-transform: none;
          font-weight: normal;
        }
      }
    }
  }
}

