section#the-couple {
  background: #fbfaf4;

  #pictures-info {
    text-align: center;

    .img-circle {
      width: 200px;
      padding: 10px;
      background-color: white;
      border: solid 1px #ccc;
    }

    .social-icons {
      i {
        color: #ccc;
        font-size: 2em;
        &:hover {
          color: @brand-primary;
        }
      }
    }

    #separator {
      background: url("/images/line.png") no-repeat 50% 0;
      height: 400px;
      position: relative;

      i {
        color: @brand-primary;
        font-size: 64px;
        position: absolute;
        top: 166px;
        margin-left: -31px;
      }
    }
  }
}

