<template name="schedule">
    <section id="schedule">
        <div class="container">
            <div class="row header" id="schedule-header">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1>El itinerario</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>
                        Cuando te das cuenta que quieres pasar el resto de tu vida con una persona, quieres
                        que el resto de tu vida empiece lo antes posible
                        <footer>Billy Cristal</footer>
                    </blockquote></p>
                </div>
            </div>

            <div class="row clearfix" id="schedule-events">
                <div class="col-xs-12 col-sm-6 event">
                    <img src="images/pictures/proposal.jpg" alt=" " />
                    <div class="description">
                        <h4><a href="#">Misa</a> <span>7 de noviembre del 2015 13:00</span></h4>
                        <p>La misa se llevará a acabo en la capilla de la Purísima Concepción que está ubicada dentro
                            de la hacienda</p>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-5 event">
                    <img src="images/pictures/wedding.jpg" alt=" ">
                    <div class="description">
                        <h4><a href="#">Recepción</a> <span>7 de noviembre del 2015 14:00</span></h4>
                        <p>Celebra con nosotros este paso tan importante en nuestras vidas</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
</template>
