<template name="schedule">
    <section id="schedule">
        <div class="container">
            <div class="row header" id="schedule-header">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h1>El itinerario</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>Cuando te das cuenta que quieres pasar el resto de tu vida con una persona, quieres que el resto de tu vida empiece lo antes posible<footer>Billy Cristal</footer></blockquote></p>
                </div>
            </div>

            <div class="row clearfix" id="schedule-events">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 event">
                    <img src="images/pictures/proposal.jpg" alt=" " />
                    <div class="description">
                        <h4><a href="#">Engagement</a><span>September 14, 2015 3:00 pm</span></h4>
                        <p>Tnsectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna a aliqua</p>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 event">
                    <img src="images/pictures/proposal.jpg" alt=" ">
                    <div class="description">
                        <h4><a href="#">Wedding Ceremony</a><span>September 18, 2015 6:00 pm</span></h4>
                        <p>Tnsectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna a aliqua</p>
                    </div>
                </div>
                <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 event">
                    <img src="images/pictures/proposal.jpg" alt=" ">
                    <div class="description">
                        <h4><a href="#">Wedding Reception</a><span>September 18, 2015 6:00 pm</span></h4>
                        <p>Tnsectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna a aliqua</p>
                    </div>
                </div>
            </div>


        </div>
    </section>
</template>
