<template name="_giftRegistry">
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <h4>Liverpool</h4>
            <p>
                Para aquellos que quieran ayudarnos a llenar nuestra casa de cosillas útiles, les dejamos
                la mesa de regalos de Liverpool # 35513313. Incluso puedes comprar en línea y nos llegará
                directo a nuestra casa. o.0
            </p>
            <a href="http://www.liverpool.com.mx/tienda/giftregistry/giftRegistryDetail.jsp?eventNo=1&eventDNo=35513313">
                <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Dáme click">
                    Ir a la mesa de regalos
                </button>
            </a>
        </div>
        <div class="col-sm-12 col-md-6">
            <h4>Efectivo</h4>
            <p>
                Para los que, por otro lado, prefieran ayudarnos con los gastos de las mil y un cosas que
                hacemos todo el tiempo y que no nos da tiempo para poner aquí, les dejamos nuestra cuenta
                para que nos depositen o transfieran mucho dinero: <br/>
                Banco IXE: <strong>02 8549 1977</strong><br/>
                CLABE: <strong>072 180 002 8549 1977 2</strong>
            </p>
        </div>
    </div>
</template>