<template name="_hotels">
    <h3>Si deseas pasar la noche cerca de la hacienda te recomendamos los siguientes hoteles:</h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        City Express Tepotzotlán
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col">
                            <h2>Información general</h2>
                            <ul>
                                <li><i class="fa fa-bed"></i> Revervaciones: <a href="https://www.cityexpress.com/es/hoteles-Mexico/MX/Estado-de-Mexico-15/Tepotzotlan-32/City-Express-Tepotzotlan-26/">City Express</a></li>
                                <li><i class="fa fa-phone"></i> Teléfono: <a href="tel:015558993190">01 555 899 3190</a></li>
                                <li><i class="fa fa-envelope"></i> Email: <a href="mailto:reservacioneshotelescity@hotelescity.com">reservacioneshotelescity@hotelescity.com</a></li>
                                <li><i class="fa fa-building"></i> Autopista México-Querétaro, Km 42.5 S/N, Col. Barrio Texcacoa, Tepotzotlán, C.P. 54600</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col">
                            <h2>Ubicación</h2>
                            <p></p>
                            <ul>
                                <li><i class="fa fa-compass"></i> A un costado de la central de autobuses de Tepotzotlán, a 500 metros de la caseta de Tepotzotlán.</li>
                                <li><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/dir/Current+Location/Hotel+City+Express+Tepotzotlán+Oficial,+Tepotzotlán" target="_blank">Google Maps</a></li>
                                <li><i class="fa fa-location-arrow"></i> <a href="https://waze.to/lr/h9g92ns0te" target="_blank">Waze</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Finca las Hortensias
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col">
                            <h2>Información general</h2>
                            <ul>
                                <li><i class="fa fa-bed"></i> Revervaciones: <a href="http://www.zonaturistica.com/hotel/24266/finca-las-hortensias-tepotzotlan.html">Finca las Hortensias</a></li>
                                <li><i class="fa fa-phone"></i> Teléfono: <a href="tel:015558993190">01 555 899 3190</a></li>
                                <li><i class="fa fa-envelope"></i> Email: <a href="mailto:reservacioneshotelescity@hotelescity.com">reservacioneshotelescity@hotelescity.com</a></li>
                                <li><i class="fa fa-globe"></i> Website: <a href="http://www.fincalashortensias.com/">Finca las Hortensias</a></li>
                                <li><i class="fa fa-building"></i> Calle Las Hortensias s/n, Barrio Santa Cruz Tepotzotlán, Estado de México, C.P. 54600</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col">
                            <h2>Ubicación</h2>
                            <p></p>
                            <ul>
                                <li><i class="fa fa-compass"></i> A un costado de la central de autobuses de Tepotzotlán, a 500 metros de la caseta de Tepotzotlán.</li>
                                <li><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/dir/Current+Location/Hotel+City+Express+Tepotzotlán+Oficial,+Tepotzotlán" target="_blank">Google Maps</a></li>
                                <li><i class="fa fa-location-arrow"></i> <a href="https://waze.to/lr/h9g92ns0te" target="_blank">Waze</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Hotel Posada del Virrey
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 col">
                            <h2>Información general</h2>
                            <ul>
                                <li><i class="fa fa-bed"></i> Revervaciones: <a href="http://www.tepotzotlanhotelposadadelvirrey.com/">City Express</a></li>
                                <li><i class="fa fa-phone"></i> Teléfono: <a href="tel:015558993190">01 555 899 3190</a></li>
                                <li><i class="fa fa-envelope"></i> Email: <a href="mailto:reservacioneshotelescity@hotelescity.com">reservacioneshotelescity@hotelescity.com</a></li>
                                <li><i class="fa fa-building"></i> Autopista México-Querétaro, Km 42.5 S/N, Col. Barrio Texcacoa, Tepotzotlán, C.P. 54600</li>
                            </ul>
                        </div>
                        <div class="col-xs-12 col-md-6 col">
                            <h2>Ubicación</h2>
                            <p></p>
                            <ul>
                                <li><i class="fa fa-compass"></i> A un costado de la central de autobuses de Tepotzotlán, a 500 metros de la caseta de Tepotzotlán.</li>
                                <li><i class="fa fa-map-marker"></i> <a href="https://www.google.com/maps/dir/Current+Location/Hotel+City+Express+Tepotzotlán+Oficial,+Tepotzotlán" target="_blank">Google Maps</a></li>
                                <li><i class="fa fa-location-arrow"></i> <a href="https://waze.to/lr/h9g92ns0te" target="_blank">Waze</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>