<template name="information">
    <section id="information">
        <div class="container">
            <div class="row header" id="information-header">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1>Información</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>
                    Te amo para amarte y no para ser amado, puesto que nada me place tanto como verte a ti feliz.
                    <footer>George Sand</footer>
                </blockquote></p>
                </div>
            </div>
            <h2>Regalos</h2>
            {{> _giftRegistry}}
            <hr/>
            <h2>Ubicación</h2>
            {{> _location}}
            <hr/>
            <h2>Hoteles</h2>
            {{> _hotels}}
        </div>
    </section>
</template>