<template name="giftRegistry">
    <section id="gift-registry">
        <div class="container">
            <div class="row header" id="information-header">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1>Regalos</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>
                    Te amo para amarte y no para ser amado, puesto que nada me place tanto como verte feliz.
                    <footer>George Sand</footer>
                </blockquote></p>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/logo-liverpool.jpg" alt="Mesa de regalos Liverpool">
                        <div class="caption">
                            <h3>Mesa de regalos</h3>
                            <p>Para aquellos que quieran ayudarnos a llenar nuestra casa de cosillas útiles, les dejamos
                                la mesa de regalos de Liverpool # 35513313. Incluso puedes comprar en línea y nos llegará
                                directo a nuestra casa.</p>
                            <p>
                                <a href="http://www.liverpool.com.mx/tienda/giftregistry/giftRegistryDetail.jsp?eventNo=1&eventDNo=35513313" class="btn btn-primary btn-block" role="button" target="_blank">
                                    Ir a la mesa de regalos
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="thumbnail">
                        <img src="/images/money.jpg" alt="Dinero">
                        <div class="caption">
                            <h3>El dinero es dinero</h3>
                            <p>
                                Para los que, por otro lado, prefieran ayudarnos con los gastos de las mil y un cosas
                                que hacemos y que nos apasionan, les dejamos nuestra cuenta para que nos depositen o
                                transfieran:
                            </p>
                            <p>
                                Banco IXE: <strong>02 8549 1977</strong><br/>
                                CLABE: <strong>072 180 002 8549 1977 2</strong>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>