<template name="hotels">
    <section id="hotels">
        <div class="container">
            <div class="row header" id="information-header">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1>Hoteles</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>
                    Ama y haz lo que quieras. Si callas, callarás con amor; si gritas, gritarás con amor; si corriges, corregirás con amor, si perdonas, perdonarás con amor.
                    <footer>San Agustín</footer>
                </blockquote></p>
                </div>
            </div>
            <h3>Si deseas pasar la noche cerca de la hacienda te recomendamos los siguientes hoteles:</h3>
            <hr/>
            <div class="row">

                <div class="col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <img src="/images/city-express.jpg" alt="City Express">
                        <div class="caption">
                            <h3 class="text-center">City Express Tepotzotlán</h3>
                            <ul class="fa-ul">
                                <li><i class="fa fa-bed"></i> - <a href="https://www.cityexpress.com/es/hoteles-Mexico/MX/Estado-de-Mexico-15/Tepotzotlan-32/City-Express-Tepotzotlan-26/" target="_blank">City Express</a></li>
                                <li><i class="fa fa-phone"></i> - <a href="tel:015558993190">01 555 899 3190</a></li>
                                <li><i class="fa fa-envelope"></i> - <a href="mailto:reservacioneshotelescity@hotelescity.com">reservacioneshotelescity@hotelescity.com</a></li>
                                <li><i class="fa fa-building"></i> - Autopista México-Querétaro, Km 42.5 S/N, Barrio Texcacoa, Tepotzotlán, 54600</li>
                                <li><i class="fa fa-compass"></i> - A un costado de la central de autobuses de Tepotzotlán, a 500 metros de la caseta de Tepotzotlán.</li>
                                <li><i class="fa fa-map-marker"></i> - <a href="https://www.google.com/maps/dir/Current+Location/Hotel+City+Express+Tepotzotlán+Oficial,+Tepotzotlán" target="_blank">Google Maps</a></li>
                                <li><i class="fa fa-location-arrow"></i> - <a href="https://waze.to/lr/h9g92ns0te" target="_blank">Waze</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <img src="/images/finca-hortensias.jpg" alt="Finca las Hortensias">
                        <div class="caption">
                            <h3 class="text-center">Finca las Hortensias</h3>
                            <ul class="fa-ul">
                                <li><i class="fa fa-bed"></i> - <a href="http://www.zonaturistica.com/hotel/24266/finca-las-hortensias-tepotzotlan.html" target="_blank">Finca las Hortensias</a></li>
                                <li><i class="fa fa-phone"></i> - <a href="tel:5558961695">55 5896 1695</a></li>
                                <li><i class="fa fa-building"></i> - Calle Las Hortensias s/n, Barrio Santa Cruz, Tepotzotlán, 54600</li>
                                <li><i class="fa fa-compass"></i> - En el km 7 de la Carretera Tepotzotlán-Villa del Carbón.</li>
                                <li><i class="fa fa-map-marker"></i> - <a href="https://www.google.com/maps/dir/Current+Location/Hotel+Finca+Las+Hortensias,+Tepotzotlán" target="_blank">Google Maps</a></li>
                                <li><i class="fa fa-location-arrow"></i> - <a href="https://waze.to/lr/h9g92j3sjc" target="_blank">Waze</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-4">
                    <div class="thumbnail">
                        <img src="/images/posada-virrey.jpg" alt="Posada del Virrey">
                        <div class="caption">
                            <h3 class="text-center">Posada del Virrey</h3>
                            <ul class="fa-ul">
                                <li><i class="fa fa-bed"></i> - <a href="http://www.tepotzotlanhotelposadadelvirrey.com/" target="_blank">Posada del Virrey</a></li>
                                <li><i class="fa fa-phone"></i> - <a href="tel:5558761864">55 5876 1864</a></li>
                                <li><i class="fa fa-building"></i> - Av. Insurgentes 13, Barrio Texcacoa, Tepotzotlán, 54600</li>
                                <li><i class="fa fa-compass"></i> - A un costado de la central de autobuses de Tepotzotlán, a 500 metros de la caseta de Tepotzotlán.</li>
                                <li><i class="fa fa-map-marker"></i> - <a href="https://www.google.com/maps/dir/Current+Location/Hotel+Posada+del+Virrey,+Tepotzotlán" target="_blank">Google Maps</a></li>
                                <li><i class="fa fa-location-arrow"></i> - <a href="https://waze.to/lr/h9g92nhrz8" target="_blank">Waze</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>