<template name="parallax1">
    <section class="parallax" id="parallax1">
        <div id="parallax1-background"></div>
        <div id="parallax1-text" class="clearfix">
            <h2>Confirma tu asistencia</h2>
            <p>o tu ausencia</p>
            <div class="heartline">
                <hr>
                <i class="fa fa-heart"></i>
            </div>
            <a href="{{pathFor 'rsvp'}}">
                <button class="btn btn-default btn-block">
                    RSVP
                </button>
            </a>
        </div>
    </section>
</template>

<template name="parallax2">
    <section class="parallax" id="parallax2">
        <div id="parallax2-background"></div>
    </section>
</template>

<template name="parallax3">
    <section class="parallax" id="parallax3">
        <div id="parallax3-background"></div>
    </section>
</template>


<template name="parallax4">
    <section class="parallax" id="parallax4">
        <div id="parallax4-background"></div>
    </section>
</template>