<template name="schedule">
    <section id="schedule">
        <div class="container">
            <div class="row header" id="schedule-header">
                <div class="col-xs-12 col-sm-12 col-md-4">
                    <h1>El itinerario</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>
                        Cuando te das cuenta que quieres pasar el resto de tu vida con una persona, quieres
                        que el resto de tu vida empiece lo antes posible.
                        <footer>Billy Cristal</footer>
                    </blockquote></p>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <div class="thumbnail">
                        <img src="images/pictures/proposal.jpg" alt="Ceremonia Religiosa">
                        <div class="caption">
                            <h3>Ceremonia religiosa <br class="hidden-lg"/><small>7 de noviembre de 2015 13:00 horas</small></h3>
                            <p>En la capilla de la Purísima Concepción dentro de Hacienda la Concepción.</p>
                            </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <div class="thumbnail">
                        <img src="images/pictures/cake.jpg" alt="Ceremonia Religiosa">
                        <div class="caption">
                            <h3>Recepción <br class="hidden-md hidden-lg"/><small>7 de noviembre de 2015 14:00 horas</small></h3>
                            <p>Te esperamos al terminar la ceremonia religiosa en Hacienda la Concepción.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>
