<template name="theCouple">
    <section id="the-couple">
        <div class="container">
            <div class="row header" id="the-couple-header">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                    <h1>Los novios</h1>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                    <p><blockquote>Cada mañana, cuando despierto, tú eres la razón por la que sonrío; tú eres la razón por la que amo<footer>Jerry Burton</footer></blockquote></p>
                </div>
            </div>
            <div class="row clearfix text-center" id="pictures-info">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <img class="img-circle img-thumbnail" src="/images/pictures/andrea-bw.jpg" alt="Andrea" />
                    <h3>Andrea Funes</h3>
                    <p>Le gusta leer, organizar y explorar el mundo. Disfruta del montañismo y de caminar con sus perritos.</p>
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 hidden-xs hidden-sm" id="separator">
                    <i class="fa fa-heart fa-5x"></i>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                    <img class="img-circle img-thumbnail" src="/images/pictures/manuel-bw.jpg" alt="Manuel" />
                    <h3>Manuel Valencia</h3>
                    <p>Le gustan las novelas históricas y los libros de alpinismo. Es quien atiende a los perritos por las mañanas y es un as en la montaña.</p>
                    <ul class="list-inline social-icons">
                        <li><a href="#"><i class="fa fa-facebook-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter-square fa-2x"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</template>

<template name="theCouple-2">
    <section class="yellow_section section_gap" id="theCouple">
        <div class="container">
            <div class="row heading">
                <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 noPadd">
                    <h2>The Couple<span>Bride &amp; the Groom</span></h2>
                </div>
                <div class=" col-xs-12 col-lg-12 col-md-8 col-lg-8 noPadd">
                    <p>Lorem ipsum dolor sit amet, consectetur adi pisi cing elit, sed do eiusmod tempor exercitationemut labore et dolore magna aliqua. Ut enim ad consequatur quis aliquip ex ea commodo consequat…</p>
                </div>
            </div>
            <div class="row clearfix theCouple">
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> <img src="images/bride.jpg" alt=" " class="bigRound">
                    <h3>Sophie takas</h3>
                    <h5>Budapest, Hungary</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et pulvinar augue. Nullam dignissim condimentum purus, vitae feugiat augue ornare ut. Praesent imperdiet purus ante, sagittis efficitur leo vehicula nec.</p>
                    <ul>
                        <li> <a class="ico" href="#"> <i class="fa fa-facebook"> </i> </a> </li>
                        <li> <a class="ico" href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
                        <li> <a class="ico" href="#"> <i class="fa fa-twitter"> </i> </a> </li>
                        <li> <a class="ico" href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
                    </ul>
                </div>
                <div class="col-md-2 col-lg-2 line"> <i class="fa fa-heart"></i> </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5"> <img src="images/groom.jpg" alt=" " class="bigRound">
                    <h3>Andy Collins</h3>
                    <h5>San Francisco</h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et pulvinar augue. Nullam dignissim condimentum purus, vitae feugiat augue ornare ut. Praesent imperdiet purus ante, sagittis efficitur leo vehicula nec.</p>
                    <ul>
                        <li> <a class="ico" href="#"> <i class="fa fa-facebook"> </i> </a> </li>
                        <li> <a class="ico" href="#"> <i class="fa fa-linkedin"> </i> </a> </li>
                        <li> <a class="ico" href="#"> <i class="fa fa-twitter"> </i> </a> </li>
                        <li> <a class="ico" href="#"> <i class="fa fa-google-plus"> </i> </a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</template>
