<template name="_footer">
    <div class="container" id="contact">
        <div class="row">

            <div class="col-sm-6">
                <h3 class="text-primary">Hacienda la Concepción</h3>
                <p class="lead">Para que llegues sin problemas te dejamos información sobre la hacienda.</p>
                <ul class="fa-ul">
                    <li>
                        <i class="fa fa-building"></i>
                        Dirección: Carretera Tepotzotlán a Arcos del Sitio Km. 12.5, Hacienda la Concepción, 54657.
                    </li>
                    <li>
                        <i class="fa fa-phone"></i>
                        Teléfono: <a href="tel:5831 0165">5831 0165</a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="button" class="btn btn-default btn-block" data-toggle="modal" data-target="#myModal">
                            <span style="color: #555;"><i class="fa fa-map-signs"></i></span>
                            Croquis
                        </button>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://www.google.com/maps/dir/Current+Location/Hacienda+la+Concepcion+Tepotzotlan" target="_blank" class="btn btn-default btn-block">
                            <span style="color: #d62d20;"><i class="fa fa-map-marker"></i></span>
                            Google
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://waze.to/lr/h9g92h3ks5" target="_blank" class="btn btn-default btn-block">
                            <span style="color: #59899e;"><i class="fa fa-map-pin"></i></span>
                            Waze
                        </a>
                    </div>
                </div>
            </div>

            <div class="visible-xs">
                <hr/>
            </div>

            <div class="col-sm-6">
                <h3>
                    Contáctanos
                </h3>
                {{> contactForm}}
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 style="color: #777;" class="modal-title" id="myModalLabel">Croquis a Hacienda la Concepción</h4>
                        </div>
                        <div class="modal-body">
                            <img src="/images/croquis.jpg" alt="Croquis" style="max-width: 100%;"/>
                        </div>
                        <div class="modal-footer">
                            <a href="/images/croquis.jpg" download="/images/croquis.jpg" class="btn btn-info" role="button">Descargar</a>
                            <button class="btn btn-primary download">Imprimir</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div>
                Designed by <a href="http://github.com/aldofunes">Aldo Funes</a>. © 2015 - All rights reserved.
            </div>
        </div>
    </div>
</template>
